{"filter":false,"title":".gitignore","tooltip":"/9-forkify/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":3,"column":13},"action":"insert","lines":["# See https://help.github.com/ignore-files/ for more about ignoring files.","","# dependencies","/node_modules"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":13},"end":{"row":3,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1550612416310,"hash":"cfdeaf2ae013ff44904e75e570658055db44687e"}