/************************************************/

/*    Header:       */

/************************************************/

header {margin: .5em 0;}

header div {
    display: inline-block;
}

div ul li {
    display: inline;
}

nav div:nth-child(2) {
    float: right;
}

nav div:nth-child(2) ul {
    padding: 0 40px 0 0;
}

.nav-container {
    width: 100%;
}


/************************************************/

/*    Body:       */

/************************************************/
body {
    font-family: arial,sans-serif;
}

/************************************************/

/*    Footer:       */

/************************************************/
